/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin back-white {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar.navbar-default {
    background: #655073;
    border-radius: 0;
    -webkit-box-shadow: 2px 1px 1px 2px rgba(255,255,255,0.5);
    box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    text-decoration: none;
    .navbar-brand {
      color: white;
    }

    .navbar-link{
      color: white;
    }
    a.dropdown-toggle{
      color: white;
    }
}

.row {
  a{
    text-decoration: none;
    color: #655073;
  }
}

#offers {
  a {
    text-decoration: none;
    color: #655073;
  }
}
